[user]
	name = Phineas Vang
[core]
	autocrlf = input
	excludesfile = $HOME/.dotfiles/gitignore_global
	editor = subl -n -w
[push]
	default = simple
[diff "git_diff_xlsx"]
	binary = True
	textconv = parse_xlsx
	cachetextconv = true
